TEST_DATABASE_HOST=127.0.0.1
TEST_DATABASE_PORT=5433
TEST_DATABASE_NAME=folder_security_test
TEST_DATABASE_USER=test
TEST_DATABASE_PASSWORD=test
TEST_DATABASE_SSLMODE=disable
TEST_DATABASE_URL=postgres://test:test@127.0.0.1:5433/folder_security_test?sslmode=disable
